.navbar {
    background: black;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    /* font-family: 'Water Brush', cursive; */
    font-family: 'Trade Winds', cursive;
}
