.navbar {
    background: black;
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    min-width: 800px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-family: 'Trade Winds', cursive;
    background-color: black;
    border-style: none;
}

.nav-left-column {
    width: 100%;
}

.nav-right-column {
    min-width: 120px;
}

.logout-button {
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.logout-button:hover {
    background-color: gray;
}