.form {
    display:block; 
    border-radius: 50px; 
    border-style: solid; 
    width: 700px; 
    margin: 10px auto; 
    padding: 30px;
}

.form-field {
    margin:15px; 
    display:flex; 
    flex-direction:column; 
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
}

.form-label {
    font-size: 20px;
    margin:15px; 
}

.form-err {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    background-color: pink;
    color: brown;
}

.form-succ {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(136, 231, 140);
    color: green;
}