.page-content-div {
    padding: 20px;
}

.status-list-div {
    /* border-style: solid; */
}

.status-list-button {
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    vertical-align: top;
    background-color: white;
}

.vertical-hr {
    display: inline-block;
    border-color: white;
}

.active {
    background-color: gainsboro;
}